<body>
    <div class="contenedor">
        <header>
            <div class="logo">
                <img src="images/github.png" alt="">
            </div>
            <nav>
                <a href="#">Inicio</a>
                <a href="#">Blog</a>
                <a href="#">Proyectos</a>
                <a href="#">Contacto</a>
            </nav>
        </header>

        <section class="main">
            <article>
                <h2 class="titulo">Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam similique quos nostrum, tenetur molestiae
                    itaque quaerat maiores sint necessitatibus, enim rerum quidem omnis, minus minima eum et totam nobis
                    architecto.
                </p>
            </article>

            <article>
                <h2 class="titulo">Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam similique quos nostrum, tenetur molestiae
                    itaque quaerat maiores sint necessitatibus, enim rerum quidem omnis, minus minima eum et totam nobis
                    architecto.
                </p>
            </article>

            <article>
                <h2 class="titulo">Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam similique quos nostrum, tenetur molestiae
                    itaque quaerat maiores sint necessitatibus, enim rerum quidem omnis, minus minima eum et totam nobis
                    architecto.
                </p>
            </article>

            <article>
                <h2 class="titulo">Lorem ipsum dolor sit amet.</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquam similique quos nostrum, tenetur molestiae
                    itaque quaerat maiores sint necessitatibus, enim rerum quidem omnis, minus minima eum et totam nobis
                    architecto.
                </p>
            </article>
        </section>

        <aside>
            <div class="widget">
                <div class="imagen"></div>
            </div>

            <div class="widget">
                <div class="imagen"></div>
            </div>
        </aside>

        <footer>
            <section class="links">
                <a href="#">Inicio</a>
                <a href="#">Blog</a>
                <a href="#">Proyecto</a>
                <a href="#">Contacto</a>
            </section>

            <div class="social">
                <a href="#">FB</a>
                <a href="#">TW</a>
            </div>
        </footer>

    </div>
</body>